ion-list{
  background: transparent !important;
  box-shadow: none;
}
ion-item{
  --background: transparent !important;
}
// action sheet style
ion-action-sheet{
  --background: #8a35da;
  --color: #fff;
  --button-color: #fff;
}
ion-item{
  ion-thumbnail{
    background-color: white;
    
  }
  p{
    color: white;
    font-size: 16px;
  }
  p.artist{
    font-size: 10px;
  }
}
.playlist-message{
  display: flex;
  justify-content: center;
  text-shadow: 0px 0px 5px red;
  margin-top: 130px;
  font-size: 16px;
}