ion-tab-bar {
  --background: var(--ion-color-primary);
  position: relative;
}
ion-item {
  z-index: 10;
  --border-width: 0.1px;
  --border-color: rgb(192, 188, 188);
  --border-radius: 16px;

  p {
    overflow: hidden;
    text-wrap: nowrap;
  }
}
.player {
  padding-inline: 5px;
  position: absolute;
  bottom: 60px;
  width: 100%;
  z-index: 1;
  perspective: 2px;
  perspective-origin: center;
  -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  ion-item {
    --background: var(--ion-color-third);
    --color: var(--ion-text-color-step-200);
    .progress-bar input#progress-range {
      width: 100%;
      margin-bottom: 5px;
      height: 4px;
      background-color: white;
      }
    }
  ion-thumbnail {
    --border-radius: 8px;
  }
}
ion-tab-button {
  --color-selected: black;
}

ion-icon {
  color: var(--ion-color-secondary);
}
ion-label {
  color: var(--ion-color-secondary);
}
ion-button {
  --background: transparent;
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
            opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
            opacity: 1;
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
            opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
            opacity: 1;
  }
}
