<div class="player">
  <ion-item color="primary">
    <ion-thumbnail slot="start">
      <img src="/assets/images/albums/when-we-all-fall-asleep.jpg" />
    </ion-thumbnail>
    <ion-label class="ion-no-margin ion-text-nowrap ion-text-overflow">
      <ion-text>
        <p>All the Good Girls Go to Hell</p>
        <span>Billie Eilish</span>
        <div class="progress-bar">
          <input id="progress-range" type="range" name="progress" value="50" />
        </div>
      </ion-text>
    </ion-label>
    <ion-button (click)="whenSmallMediaPlayerButtonIsClicked()" fill="clear">
      <ion-icon
        [name]="this.isPaused ? 'play-circle' : 'pause-circle'"
        color="light"
        size="large"
        slot="icon-only"
      ></ion-icon>
    </ion-button>
    <ion-button fill="clear">
      <ion-icon
        name="close"
        color="light"
        size="large"
        slot="icon-only"
      ></ion-icon>
    </ion-button>
  </ion-item>
</div>
<ion-tabs #tabs (ionTabsDidChange)="setSelectedTabName()">
  <!-- The dummy player stacked above the tabs -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main" href="/content/main">
      <ion-icon
        aria-hidden="true"
        [name]=" selected === 'main' ? 'home':'home-outline'"
      ></ion-icon>
      <ion-label>home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" href="/content/search">
      <ion-icon
        aria-hidden="true"
        [name]=" selected === 'search' ? 'search':'search-outline'"
      ></ion-icon>
      <ion-label>search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="playlists" href="/content/playlists">
      <ion-icon
        aria-hidden="true"
        [name]=" selected === 'playlists' ? 'library':'library-outline'"
      ></ion-icon>
      <ion-label>playlists</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
