<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">playlists</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    @if((playlists$ | async)?.length === 0 || this.showSpinnerAfterRefresh){
      <div class="spinner-wrap">
        <ion-spinner name="crescent"></ion-spinner>
      </div>
    } @else if ((playlists$ | async) === null || (playlists$ | async) === undefined) {
      <div class="message-error-wrapper">
        <div class="popup">
          <ion-text class="ion-text-center">
            <p class="error-message">
              Error Loading Page
            </p>
          </ion-text>
          <div class="buttons">
            <button
            type="button"
            class="ion-activatable"
            (click)="onRefresh()"
            >
              Refresh
              <ion-ripple-effect></ion-ripple-effect>
            </button>
          </div>
        </div>
      </div>
    } @else {
      @if(!(displayCurrentPlaylist && currentPlaylist)){
        <div id="playlists-container" class="playlists-wrap">
          <ion-list>
            @for(playlist of (playlists$ | async) ; track playlist.id){
            <div
              #p
              class="playlist-wrap"
              [id]="playlist.id"
            >
              <ion-item>
                <div class='clickable-part-of-item'(click)="displayPlaylistContent(p)">
                  <div class="image-wrap">
                    <img
                      [src]="playlist?.songs[0]?.imageUrl"
                      width="80"
                      height="80"
                    />
                  </div>
                  <ion-label>
                    <p class="playlist name">{{playlist.name}}</p>
                    <p class="playlist description"style="overflow-x : hidden;">{{playlist.description || "no description"}}</p>
                  </ion-label>
                </div>
                <ion-button (click)="options(true, playlist)" slot="end" fill="clear">
                  <ion-icon
                    slot="icon-only"
                    size="large"
                    color="secondary"
                    name="ellipsis-vertical"
                    size="large"
                  ></ion-icon>
                </ion-button>
              </ion-item>
            </div>
          } @empty {
            <p> Emtpy </p>
          }
          </ion-list>
        </div>
      } @else {
      <div class="playlist-content-container">
        <app-playlist [playlist]="currentPlaylist" (backEvent)="hideplaylistContent()"></app-playlist>
      </div>
      }
      <ion-action-sheet
      [isOpen]="optionStatus"
      header="Actions"
      [buttons]="actionSheetButtons"
    ></ion-action-sheet>
    }
    <!-- success/fail message -->
@if(successMessage){
  <div class="message-wraper">
    <div class="fail-message">
      <ion-text>
        {{successMessage}}
      </ion-text>
    </div>
  </div>
}
@if(failMessage){
  <div class="message-wraper">
    <div class="fail-message">
      <ion-text>
        {{failMessage}}
      </ion-text>
    </div>
  </div>
}
</ion-content> 