@if(this.mediaPlayerAppearanceState.getMediaPlayerAppearanceState() | async){
  <div class="player">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/images/albums/when-we-all-fall-asleep.jpg" />
      </ion-thumbnail>
      <ion-label class="ion-no-margin ion-text-nowrap ion-text-overflow">
        <ion-text color="secondary">
          <p>All the Good Girls Go to Hell</p>
          <span>Billie Eilish</span>
          <div class="progress-bar">
            <input id="progress-range" type="range" name="progress" value="50" />
          </div>
        </ion-text>
      </ion-label>
      <ion-button  fill="clear" (click)="playOrPause()">
        <ion-icon
          [name]="this.isPaused ? 'play-circle' : 'pause-circle'"
          color="light"
          size="large"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="closeMediaPlayer()">
        <ion-icon
          name="close"
          color="light"
          size="large"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
    </ion-item>
  </div>
}

<!-- Action Sheet -->
<ion-action-sheet
  [isOpen]="this.openActionSheetService.isActionSheetOpen() | async"
  header="Actions"
  [buttons]="actionSheetButtons"
></ion-action-sheet>


<!-- add song to playlist UI -->
@if(displayPlaylistAddingCreatingPopup){
  <div class="select-playlist-container">
    <div class="select-playlist-wrapper">
      <ion-card class="playlists-list">
        <ion-card-header>
          <ion-card-title>Playlist</ion-card-title>
          <ion-card-subtitle>Choose one</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-radio-group (ionChange)="addToPlaylist($event)">
              @for(playlist of (playlists$ | async); track playlist.id)
              {
                <ion-item>
                  <ion-radio [value]="playlist">{{ playlist.name }}</ion-radio>
                </ion-item>
              } @empty {
                <p class="empty-playlist-message">Create Your First Playlist</p>
              }
            </ion-radio-group>
          </ion-list>
        </ion-card-content>
        <ion-button fill="clear" (click)="closePlaylistPopup()">Cancel</ion-button>
        <ion-button fill="clear"(click)="showCreatePlaylistPopup()">Create</ion-button>
      </ion-card>
      <div class="create-playlist-wrapper">
        @if(displayCreatePlaylistPopup){
          <ion-card class="create-playlist">
            <ion-card-header>
              <ion-card-title>Create new playlist</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-input
              class="ion-margin-top ion-margin-bottom"
              label="playlist Name"
              labelPlacement="floating"
              [clearInput]="true"
              [(ngModel)]="this.nameOfCreatedPlaylist"
              ></ion-input>
            </ion-card-content>
            <ion-button fill="clear" (click)="hideCreatePlaylistPopup()">Cancel</ion-button>
            <ion-button fill="clear"(click)="createNewPlaylist()">OK</ion-button>
            
          </ion-card>
        }
      </div>
    </div>
  </div>
}

<!-- success/fail message -->
@if(successMessage){
  <div class="message-wraper">
    <div class="fail-message">
      <ion-text>
        {{successMessage}}
      </ion-text>
    </div>
  </div>
}
@if(failMessage){
  <div class="message-wraper">
    <div class="fail-message">
      <ion-text>
        {{failMessage}}
      </ion-text>
    </div>
  </div>
}

<!-- tabs -->
<ion-tabs #tabs (ionTabsDidChange)="setSelectedTabName()">
  <!-- The dummy player stacked above the tabs -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main" href="/content/main">
      <ion-icon
      color="secondary"
        aria-hidden="true"
        [name]=" selected === 'main' ? 'home':'home-outline'"
      ></ion-icon>
      <ion-label color="secondary">home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" href="/content/search">
      <ion-icon
      color="secondary"
        aria-hidden="true"
        [name]=" selected === 'search' ? 'search':'search-outline'"
      ></ion-icon>
      <ion-label color="secondary">search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="playlists" href="/content/playlists">
      <ion-icon
      color="secondary"
        aria-hidden="true"
        [name]=" selected === 'playlists' ? 'library':'library-outline'"
      ></ion-icon>
      <ion-label color="secondary">playlists</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
