ion-card {
  --background: transparent;
  --color: white;
}
ion-card {
  .swiper-wrap {
    swiper-slide {
      width: fit-content;
      .img-wrap {
        position: relative;
      }
      p {
        position: absolute;
        bottom: 2px;
        right: 0;
        left: 0;
        width: 150px;
        height: 50px;
        border-radius: 0px 0px 10px 10px;
        background-color: rgba(36, 156, 243, 0.299);
      }
    }
  }
}

.img-wrap {
  width: fit-content;
  img {
    border-radius: 10px;
    box-shadow: rgb(44, 42, 42) 0px 0px 3px;
  }
}
ion-list{
  background: transparent !important;
  box-shadow: none;
}
ion-item{
  --background: transparent !important;
}
.spinner-wrap{
  background-color: transparent;
  width: fit-content;
  margin: auto;
  margin-top: 60%;
}

.error-message{
  margin-top: 60%;
  letter-spacing: 2px;
  text-shadow: 0px 0px 1px 1px black;
  font-size: 1.5rem;
}
.message-error-wrapper{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .popup{
    padding: 10px;
    border-radius: 16px;
    width: 90%;
    height: fit-content;
    box-shadow: 0px 0px 10px -1px rgb(74, 73, 74);
    background-color: rgb(241, 242, 253);
    color: #7300b5;
    p.error-message{
      margin: 0;
      margin-block: 20px;
      font-size: 25px;
      font-weight: 32px;
    }
    .buttons{
      display: flex;
      justify-content: center;
      button{
        width: 100px;
        height: 40px;
        border-radius: 16px;
        letter-spacing: 2px;
        font-size: 16px;
        box-sizing: border-box;
        padding: 5px;
        position: relative;
        overflow: hidden;
        background: linear-gradient(130deg, #7f469d,#8338c4,#8a35da,#af41ee,#e65ffb) !important;
        box-shadow: 0px 0px 3px -1px rgb(255, 255, 255);
      }
      }
  }
}