<ion-content class="ion-padding" [fullscreen]="true">
  <div>
    <img id='landing-page-background' src="assets/landing-page/camanman.svg" alt="">
    <div>
      <h1>MusicRec</h1>
      <hr>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button
          mode="ios"
          class="ion-margin-top"
          expand="block"
          routerLink="/login"
          >Login</ion-button
        >
        <ion-button
          mode="ios"
          class="ion-margin-top ion-margin-bottom"
          color="primary"
          expand="block"
          fill="outline"
          routerLink="/signup"
          router-direction="forword"
          >SignUp</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
