ion-card#recommandations{
  --background: var(--ion-color-primary-tint);
  --color: var(--ion-color-secondary);
}
.slide-flex{
  display: flex;
  gap: 10px;
  align-items: center;
}
.img-wrap img{
  border-radius: 8px;
  box-shadow: rgb(44, 42, 42) 0px 0px 3px;
}
.last-seen-slide-wrap{
  height: 160px;
}
ion-item::part(detail-icon) {
  color: var(--ion-color-primary-tint);
  opacity: 1;
  font-size: 20px;
}