// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root, :root.md, :root.ios {
  // background and text color
  --ion-background-color: #E5EAFF;
	--ion-background-color-rgb: 229,234,255;

	--ion-text-color: #000000;
	--ion-text-color-rgb: 0,0,0;

	--ion-text-color-step-50: #0b0c0d;
	--ion-text-color-step-100: #17171a;
	--ion-text-color-step-150: #222326;
	--ion-text-color-step-200: #2e2f33;
	--ion-text-color-step-250: #393b40;
	--ion-text-color-step-300: #45464d;
	--ion-text-color-step-350: #505259;
	--ion-text-color-step-400: #5c5e66;
	--ion-text-color-step-450: #676973;
	--ion-text-color-step-500: #737580;
	--ion-text-color-step-550: #7e818c;
	--ion-text-color-step-600: #898c99;
	--ion-text-color-step-650: #9598a6;
	--ion-text-color-step-700: #a0a4b3;
	--ion-text-color-step-750: #acb0bf;
	--ion-text-color-step-800: #b7bbcc;
	--ion-text-color-step-850: #c3c7d9;
	--ion-text-color-step-900: #ced3e6;
	--ion-text-color-step-950: #dadef2;

	--ion-background-color-step-50: #dadef2;
	--ion-background-color-step-100: #ced3e6;
	--ion-background-color-step-150: #c3c7d9;
	--ion-background-color-step-200: #b7bbcc;
	--ion-background-color-step-250: #acb0bf;
	--ion-background-color-step-300: #a0a4b3;
	--ion-background-color-step-350: #9598a6;
	--ion-background-color-step-400: #898c99;
	--ion-background-color-step-450: #7e818c;
	--ion-background-color-step-500: #737580;
	--ion-background-color-step-550: #676973;
	--ion-background-color-step-600: #5c5e66;
	--ion-background-color-step-650: #505259;
	--ion-background-color-step-700: #45464d;
	--ion-background-color-step-750: #393b40;
	--ion-background-color-step-800: #2e2f33;
	--ion-background-color-step-850: #222326;
	--ion-background-color-step-900: #171719;
	--ion-background-color-step-950: #0b0c0d;
	
  //font family
  --ion-font-family: "Rubik", sans-serif;
  
  // over ride the primary and secondary colors
  --ion-color-primary: #156cb3;
	--ion-color-primary-rgb: 21,108,179;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #125f9e;
	--ion-color-primary-tint: #2c7bbb;

  --ion-color-secondary: #E5EAFF;
  --ion-color-secondary-rgb: 229,234,255;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #cacee0;
  --ion-color-secondary-tint: #e8ecff;
}
