ion-content{
    --background: linear-gradient(200deg, rgba(21,95,203,1) 0%, rgba(191,58,223,1) 28%, rgba(227,122,236,1) 100%);
}
.header {
  margin-top: 30px;
  width: 100;
  height: fit-content;
  display: flex;
  justify-content: center;
  .header-logo-container {
    position: relative;
    width: fit-content;
    h1 {
      font-size: 2rem;
      position: absolute;
      left: 45px;
      bottom: 3px;
      color: var(--ion-color-secondary);
      text-shadow: blue 0px 0px 1px;
    }
  }
}
ion-fab {
  top: 40px;
}
ion-button::part(native){
  padding : 0;
}
ion-input{
  --highlight-color-focused: white;
  --highlight-color-invalid: rgb(154, 0, 0);
  --highlight-color-valid: rgb(0, 255, 0);
}

div.error-messages-box{
  position: fixed;
  width: 95%;
  min-height: 50px;
  height: fit-content;
  padding: 5px;
  bottom: 20px;
  right: 2.5%;
  left: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 1px rgb(121, 118, 118);
  ion-text{
    font-size: 16px;
  }
}