<ion-content [fullscreen]="true">
  <div class="header">
    <div class="header-logo-container">
      <img id="login-header" src="assets/signup-page/sexzphonman.svg" alt="" />
      <h1 class="ion-text-center">SignUp</h1>
    </div>
  </div>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <form [formGroup]="signupData" (ngSubmit)="onSubmit()">
          <ion-input
            class="ion-margin-top ion-margin-bottom"
            type="text"
            label="First Name"
            labelPlacement="stacked"
            fill="outline"
            shape="round"
            name="user-first-name"
            [clearInput]="true"
            formControlName="firstName"
          >
          </ion-input>
          <ion-input
            class="ion-margin-top ion-margin-bottom"
            type="text"
            label="Last Name"
            labelPlacement="stacked"
            fill="outline"
            shape="round"
            name="user-last-name"
            [clearInput]="true"
            formControlName="lastName"
          >
          </ion-input>
          <ion-input
            class="ion-margin-top ion-margin-bottom"
            type="email"
            label="Email"
            labelPlacement="stacked"
            fill="outline"
            shape="round"
            name="user-email"
            [clearInput]="true"
            formControlName="email"
          >
          </ion-input>
          <ion-input
            class="ion-margin-top ion-margin-bottom"
            type="password"
            label="Password"
            labelPlacement="stacked"
            fill="outline"
            shape="round"
            name="user-password"
            [clearOnEdit]="true"
            formControlName="password"
          >
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
          <ion-button
            type="submit"
            expand="block"
            fill="solid"
            mode="ios"
            class="ion-margin-top ion-padding-top"
            [disabled]="disableSubmitButton()"
            >Send</ion-button
          >
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab slot="fixed" horizontal="start" vertical="top">
    <ion-fab-button routerLink="/home">
      <img
        src="assets/login-page/arrow-back-outline.svg"
        alt=""
        width="50"
        height="50"
      />
    </ion-fab-button>
  </ion-fab>
  @if(showErrorMessage()){
    <div class="error-messages-box">
      <ion-text>
        {{showErrorMessage()}}
      </ion-text>
    </div>
  }
</ion-content>
