<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center" color="primary">
    Browse Over than 1 milion songs
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="ion-text-center" color="primary">
      Browse Over than 1 milion songs
    </ion-toolbar>
  </ion-header>
  <ion-searchbar
    color="primary"
    name="q"
    value=""
    inputmode="search"
    animated
    placeholder="search"
    [debounce]="2000"
  ></ion-searchbar>
  <ion-card class="ion-no-margin">
    <ion-list id="time-line">
      @for(result of results;track result.id) {
      <ion-item [id]="$index">
        <ion-thumbnail
          [style.--border-radius]="'8px'"
          slot="start"
          (click)="playSong()"
        >
          <ion-img [src]="" alt="" />
        </ion-thumbnail>
        <ion-label color="primary" (click)="playSong()">
          {{result.title}}
        </ion-label>
        <ion-button
          slot="end"
          fill="clear"
          color="secondary"
          routerLink="details"
        >
          <ion-icon
            slot="icon-only"
            size="large"
            color="primary"
            name="arrow-forward-circle"
          ></ion-icon>
        </ion-button>
      </ion-item>
      }
      <ion-infinite-scroll class="ion-margin-top">
        <ion-infinite-scroll-content
          loading-spinner="circular"
        ></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>
  </ion-card>
</ion-content>
