<ion-content class="ion-padding" [fullscreen]="true">
  <div>
    <img id='landing-page-background' src="assets/landing-page/landing-page-background.svg" alt="">
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1
              class="briem-hand-500 logo-name ion-text-center"
              style="font-size: 3rem"
              color="primary"
            >
              MusicRec
            </h1>
        <ion-button
          mode="ios"
          class="ion-margin-top"
          expand="block"
          routerLink="/dashbord"
          >Get Started</ion-button
        >
        <ion-button
          mode="ios"
          class="ion-margin-top ion-margin-bottom"
          color="primary"
          expand="block"
          fill="outline"
          routerLink="/login"
          router-direction="forword"
          >Login</ion-button
        >
        <p class="ion-text-center ion-padding-top">
          Don't have an account? <a routerLink="/signup">Signup</a>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
