ion-content{
  --padding-top: 10px;
}
ion-grid{
  height: 100%;
  ion-row{
    height: 100%;
  }
}
img#head-phone{
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  filter: drop-shadow(blue 1px 0px 3px);
}
h1{
  
  span{
    text-shadow:blue 0px 4px 2px;
    font-size: 4rem;
  }
  span:nth-child(odd){
    color: var(--ion-color-primary);
  }
  span:nth-child(even){
    color: #463836;
  }
}

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
