ion-content{
  --background: rgb(255, 255, 255);
  --color: black;
  --padding-top: 50px;
}

img#head-phone{
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          filter: drop-shadow(#46464649 1px -1px 1px);
}
h1{
  span{
    text-shadow: blue 0px 0px 1.5px;
  }
  span:nth-child(odd){
    color: #3981fd;
  }
  span:nth-child(even){
    color: #463836;
  }
}

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
