ion-content{
  --background: var(--ion-color-primary);
}
ion-grid{
  height: 100%;
  ion-row{
    height: 100%;
  }
  ion-col{
    margin-top: 210px;
  }
}
h1{
  margin-block: 70px;
  color: var(--ion-color-primary);
  text-shadow: black 0px 0px 2px;
}
div{
  z-index: -1;
  width: 100%;
  height: calc(100% - 100px);
  overflow-y: hidden;
  position: absolute;
  top: 100px;
  left: 0;
  img#landing-page-background{
    max-width: 300%;
  }
}
