<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"> Search </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
  [formControl]="this.searchField"
  name="query"
  value=""
  inputmode="search"
  placeholder="search"
></ion-searchbar>
<ion-list>
  @for(song of results$ | async ;track song.id) {
  <ion-item [id]="$index">
    <ion-thumbnail
      [style.--border-radius]="'8px'"
      slot="start"
      (click)="playSong(song)"
      >
      <ion-img
        [src]="song.imageUrl"
        alt=""
      />
    </ion-thumbnail>
    <ion-label
    (click)="playSong(song)"
    >
      <p>{{song.name}}</p>
      <p class="artist">{{song.artist}}</p>
    </ion-label>
    <ion-button slot="end" fill="clear" (click)="this.openActionSheetService.openActionSheet(song)">
      <ion-icon
        slot="icon-only"
        size="large"
        color="secondary"
        name="ellipsis-vertical"
        size="small"
      ></ion-icon>
    </ion-button>
  </ion-item>
  }
</ion-list>

</ion-content>
